---
import BlogImg1 from "/media/blog_1.webp";
import BlogImg2 from "/media/blog_2.webp";
import BlogImg3 from "/media/blog_3.webp";

---

<section class="blog">
    <div class="container">
        <div class="blog__inner">
            <a href="/">
                <img src={BlogImg1} alt="blog" />
                <div>
                    <div>
                        <p>
                            4 Ways to Up Your Personalisation Game
                        </p>
                        <p>
                            Whether or not you have a wealth of data at your fingertips, there are always ways you can
                            incorporate more personalisation into your marketing.
                        </p>
                    </div>
                    <div class="button">
                        <span>Read More</span>
                        <span>
                            <svg class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all duration-300 ease-in-out group-hover:translate-x-[50px] group-hover:translate-y-[-50px]"
                                width="8" height="8" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.57072 0.0861157L2.52097 0.0810699L2.50943 1.11517L6.80878 1.11738L0.321655 7.6045L1.05233 8.33518L7.5397 1.84781L7.54413 6.15052L8.57577 6.13512L8.57072 0.0861157Z"
                                    fill="#ffffff" stroke-width="0.2px" stroke="#ffffff"></path>
                            </svg>
                        </span>
                    </div>
                </div>
            </a>

            <a href="/">
                <img src={BlogImg2} alt="blog" />
                <div>
                    <div>
                        <p>
                            Top tips for rolling out a new brand voice across your business
                        </p>
                        <p>
                            Whether or not you have a wealth of data at your fingertips, there are always ways you can
                            incorporate more personalisation into your marketing.
                        </p>
                    </div>
                    <div class="button">
                        <span>Read More</span>
                        <span>
                            <svg class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all duration-300 ease-in-out group-hover:translate-x-[50px] group-hover:translate-y-[-50px]"
                                width="8" height="8" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.57072 0.0861157L2.52097 0.0810699L2.50943 1.11517L6.80878 1.11738L0.321655 7.6045L1.05233 8.33518L7.5397 1.84781L7.54413 6.15052L8.57577 6.13512L8.57072 0.0861157Z"
                                    fill="#ffffff" stroke-width="0.2px" stroke="#ffffff"></path>
                            </svg>
                        </span>
                    </div>
                </div>
            </a>

            <a href="/">
                <img src={BlogImg3} alt="blog" />
                <div>
                    <div>
                        <p>
                            Why having a blog on your website is more important than ever
                        </p>
                        <p>
                            Whether or not you have a wealth of data at your fingertips, there are always ways you can
                            incorporate more personalisation into your marketing.
                        </p>
                    </div>
                    <div class="button">
                        <span>Read More</span>
                        <span>
                            <svg class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all duration-300 ease-in-out group-hover:translate-x-[50px] group-hover:translate-y-[-50px]"
                                width="8" height="8" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.57072 0.0861157L2.52097 0.0810699L2.50943 1.11517L6.80878 1.11738L0.321655 7.6045L1.05233 8.33518L7.5397 1.84781L7.54413 6.15052L8.57577 6.13512L8.57072 0.0861157Z"
                                    fill="#ffffff" stroke-width="0.2px" stroke="#ffffff"></path>
                            </svg>
                        </span>
                    </div>
                </div>
            </a>

            <a href="/">
                <img src={BlogImg3} alt="blog" />
                <div>
                    <div>
                        <p>
                            Why having a blog on your website is more important than ever
                        </p>
                        <p>
                            Whether or not you have a wealth of data at your fingertips, there are always ways you can
                            incorporate more personalisation into your marketing.
                        </p>
                    </div>
                    <div class="button">
                        <span>Read More</span>
                        <span>
                            <svg class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all duration-300 ease-in-out group-hover:translate-x-[50px] group-hover:translate-y-[-50px]"
                                width="8" height="8" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.57072 0.0861157L2.52097 0.0810699L2.50943 1.11517L6.80878 1.11738L0.321655 7.6045L1.05233 8.33518L7.5397 1.84781L7.54413 6.15052L8.57577 6.13512L8.57072 0.0861157Z"
                                    fill="#ffffff" stroke-width="0.2px" stroke="#ffffff"></path>
                            </svg>
                        </span>
                    </div>
                </div>
            </a>

            <a href="/">
                <img src={BlogImg1} alt="blog" />
                <div>
                    <div>
                        <p>
                            Why having a blog on your website is more important than ever
                        </p>
                        <p>
                            Whether or not you have a wealth of data at your fingertips, there are always ways you can
                            incorporate more personalisation into your marketing.
                        </p>
                    </div>
                    <div class="button">
                        <span>Read More</span>
                        <span>
                            <svg class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all duration-300 ease-in-out group-hover:translate-x-[50px] group-hover:translate-y-[-50px]"
                                width="8" height="8" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.57072 0.0861157L2.52097 0.0810699L2.50943 1.11517L6.80878 1.11738L0.321655 7.6045L1.05233 8.33518L7.5397 1.84781L7.54413 6.15052L8.57577 6.13512L8.57072 0.0861157Z"
                                    fill="#ffffff" stroke-width="0.2px" stroke="#ffffff"></path>
                            </svg>
                        </span>
                    </div>
                </div>
            </a>

            <a href="/">
                <img src={BlogImg2} alt="blog" />
                <div>
                    <div>
                        <p>
                            Why having a blog on your website is more important than ever
                        </p>
                        <p>
                            Whether or not you have a wealth of data at your fingertips, there are always ways you can
                            incorporate more personalisation into your marketing.
                        </p>
                    </div>
                    <button class="button">
                        <span>Read More</span>
                        <span>
                            <svg width="8" height="8" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.57072 0.0861157L2.52097 0.0810699L2.50943 1.11517L6.80878 1.11738L0.321655 7.6045L1.05233 8.33518L7.5397 1.84781L7.54413 6.15052L8.57577 6.13512L8.57072 0.0861157Z"
                                    fill="#ffffff" stroke-width="0.2px" stroke="#ffffff"></path>
                            </svg>
                        </span>
                    </button>
                </div>
            </a>
        </div>
    </div>
</section>

<style lang="scss">
    .blog {
        &__inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10rem 4rem;
        }

        img {
            border-radius: 2rem;
            display: block;
            margin-bottom: 3rem;
            min-height: 45rem;
            object-fit: cover;
        }

        a {
            color: var(--black-color);

            >div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 30rem;
            }

            p:first-of-type {
                font-size: 3rem;
                font-weight: 500;
                font-family: var(--heading-font);
                margin-bottom: 3rem;
            }
        }

        .button {
            margin-top: 5rem;
        }
    }
</style>